$blue-dark: #0B1828;
$blue-light: #1A5FB3;
$yellow-dark: #FFE649;
$yellow-light: #F8F99C;
$grey: #999999;


$clock-fs: (.25 * $clock-size)+vmin;
$clock-shadow: (0.07 * $clock-size)+vmin;
$clock-border: (.055 * $clock-size)+vmin;
$clock-shadow-color: black;
$meridiem-margin-top: -8%;