$firefly: #0B1828;
$dusty-gray: #999999;
$gorse: #FFE649;
$texas: #F8F99C;
$white: #ffffff;
$black: #000000;
$alizarin-crimson: #eb2929;
$coffee-bean: #280B0B;
$palm-green: #0B2815;
$mountain-meadow: #1AB385;
$purple-heart: #652DC1;
$fun-blue: #1A5FB3;