@import 'reset';
@import 'variables';

html {
	background-color: $coffee-bean;
	line-height: 1;
	text-align: center;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	color: $white;
}
#Clock {
	width: 646px;
	height: 646px;
	border: 30px solid $white;
	border-radius:100%;
	position: fixed;
	top: -207px;
  left: 637px;
	box-shadow: 0 0 68px $alizarin-crimson, 0 0 68px $alizarin-crimson inset;
	opacity: .7;
}
#Clock #ClockFace {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
time {
	font-weight: 700;
	font-size: 175px;
}
#Meridiem {
	position: fixed;
  top: 80%;
  right: 0;
	font-size: 75px;
	color: $alizarin-crimson;
}
#Weather {
	position: fixed;
	top: 495px;
  right: 80px;
}
#Date {
	display: block;
	font-weight: 500;
	font-size: 120px;
	color: $white;
	text-align: right;
	opacity: .7;
}
#Temp {
	display: none;
}
.icon-group canvas {
	display: none;
}
#LATitle {
	position: fixed;
	top: 495px;
  left: 80px;
	display: block;
	font-weight: 700;
	font-size: 120px;
	color: $alizarin-crimson;
	text-align: left;
}
#LADesc {
	white-space:nowrap;
	text-align: left;
	font-size: 200px;
	display: block;
	width: 100vw;
	height: 200px;
}
#LATitle {
	font-weight: 500;
}
#ClassTitle, #ClassEvents {
	display: none;
}
footer {
	box-shadow: 0 0 68px $alizarin-crimson;
	background-color: $alizarin-crimson;
	position: fixed;
	padding-top: 85px;
	padding-left: 80px;
	padding-right: 80px;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 400px;
}