@import 'reset';

$blue-dark: #0B1828;
$blue-light: #1A5FB3;
$yellow-dark: #FFE649;
$yellow-light: #F8F99C;
$grey: #999999;

$clock-size: 60;

$clock-fs: (.25 * $clock-size)+vmin;
$weather-fs: (.12 * $clock-size)+vmin;
$icon-size: ((.2 * $clock-size))+vmin;

$clock-fs-md: (.4 * $clock-size)+vmin;
$weather-fs-md: (.2 * $clock-size)+vmin;
$clock-border-md: (.045 * $clock-size)+vmin;
$icon-size-md: $weather-fs-md;

$clock-fs-sm: (.38 * $clock-size)+vmin;
$weather-fs-sm: (.25 * $clock-size)+vmin;
$clock-border-sm: (.50 * $clock-size)+vmin;
$icon-size-sm: $weather-fs-sm;

$clock-shadow: (0.07 * $clock-size)+vmin;
$clock-border: (.05 * $clock-size)+vmin;

$box-shadow: 0 0 $clock-shadow 2px $blue-light;
$box-shadow-inset: $box-shadow, $box-shadow inset;

body {
	max-width: 130vmin;
	margin: auto;
	background-color: $blue-dark;
	color: white;
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 4vmin auto 8vmin auto 4vmin;
	grid-template-rows: 15vmin auto 15vmin;
	grid-template-areas:
		". . . . ."
		". clock . weather ."
		". . . . .";
}
sup { font-size: 50% }

#clock {
	font-size: $clock-fs;
	border-radius: 100%;
	border: $clock-border white solid;
	box-shadow: $box-shadow-inset;
	grid-area: clock;
	align-self: center;
	justify-self: end;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	grid-template-areas:
		"time-box";
	position: relative;
	width: $clock-size+vmin;
	height: auto;
	&:after {
		content: "";
		display: block;
		padding-bottom: 100%;
	}
	hr {
		display: none;
	}
}
#time {
	position: absolute;
	width: auto;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	grid-area: time-box;
	justify-self: center;
	align-self: center;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		"digits"
		"meridiem";
}
#digits {
	grid-area: digits;
	align-self: end;
	justify-self: center;
}
#meridiem {
	font-size: 50%;
	font-weight: 400;
	grid-area: meridiem;
	align-self: start;
	justify-self: end;
	margin-top: -8%;
}

#weather {
	font-size: $weather-fs;
	grid-area: weather;
	justify-self: start;
	align-self: center;
	display: grid;
	grid-template-columns: 1;
	grid-template-rows: auto 20vmin auto;
	grid-template-areas:
		"date"
		"icon"
		"temp";
}
#date {
	font-weight: 500;
	grid-area: date;
	justify-self: stretch;
	align-self: center;
}
#icon {
	margin: 2.5vmin auto;
	grid-area: icon;
	justify-self: center;
	align-self: center;
	img {
		width: $icon-size;
		height: $icon-size;
	}
}
#temp {
	font-size: 90%;
	font-weight: inherit;
	grid-area: temp;
	justify-self: stretch;
	align-self: center;
}

@media screen and (max-width: 768px) {
	body {
		max-width: none;
		grid-template-columns: auto;
		grid-template-rows: 50% 50%;
		grid-template-areas:
			"clock"
			"weather";
	}
	#clock {
		font-size: $clock-fs-md;
		box-shadow: none;
		border: 0;
		align-self: stretch;
		grid-template-rows: auto auto;
		grid-template-areas:
			"time-box"
			"hr";
		width: 100%;
		&:after {
			display: none;
		}
		hr {
			grid-area: hr;
			border: $clock-border-md white solid;
			box-shadow: $box-shadow;
			display: block;
			align-self: end;
			margin: 0;
			padding: 0;
		}
	}
	#time {
		position: static;
		transform: none;
		align-self: end;
		display: block;
	}
	#weather {
		font-size: $weather-fs-md;
		grid-template-columns: 1fr 1fr 1fr auto 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		grid-template-areas:
			"icon icon . date . temp temp";
		justify-self: center;
	}
	#icon {
		justify-self: end;
		margin: 0;
		img {
			width: $icon-size-md;
			height: $icon-size-md;
		}
	}
	#temp {
		justify-self: start;
		color: $grey;
	}
}
@media screen and (max-width: 510px) {
	body {
		grid-template-rows: 40% 60%;
		grid-template-areas:
			"clock"
			"weather";
		hr {
			background-color: green;
			border: 4px white solid;
			box-shadow: $box-shadow;
		}
	}
	#clock {
		font-size: $clock-fs-sm;
		grid-template-rows: 90% auto;
		grid-template-areas:
			"time-box"
			"hr";
		
	}
	#time {
		align-self: center;
		display: grid;
	}
	#meridiem { font-size: 45% }
	#weather {
		font-size: $weather-fs-sm;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-row-gap: 6.5vmin;
		grid-column-gap: 6.5vmin;
		grid-template-areas:
			"date date"
			"icon temp";
	}
	#icon {
		justify-self: center;
		img {
			width: $icon-size-sm;
			height: $icon-size-sm;
		}
	}
	#temp {
		font-size: 80%;
		align-self: center;
		justify-self: center;
	}
	
}