$clock-size: 285;

@import 'vars';
@import 'base';

$clock-shadow-color: $blue-light;
$clock-fs: (0.1123 * $clock-size)+vmin;
$clock-border: 6.25vmin;
$date-fs: 18.75vmin;
$temp-fs: 16.25vmin;

html {
	background-color: $blue-dark;
	color: white;
}

#clock {
	font-size: $clock-fs;
	border: $clock-border white solid;
	box-shadow: 0 0 $clock-shadow $clock-shadow-color, 0 0 $clock-shadow $clock-shadow-color inset;
	width: $clock-size + vmin;
	height: $clock-size + vmin;
	position: fixed;
	top: -115%;
	left: 50%;
	transform: translate(-50%, 0%);
}
#time {
	width: auto;
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%, -50%);
	time {
		display: block;
	}
}
#date {
	font-size: $date-fs;
	font-weight: 500;
}
#temp {
	font-size: $temp-fs;
	font-weight: 400;
}
#meridiem {
	color: $yellow-dark;
}
#weather {
	display: block;
	margin: auto;
	width: 70%;
	margin-top: 100%;
}


/*Desktop Styles

$clock-size: 90;
$clock-fs: (.25 * $clock-size)+vmin;

#clock {
	position: absolute;
	top: 5%;
	left: 5%;
	transform: none;
}*/