$clock-size: 125;
@import 'vars';
@import 'base';
$clock-shadow-color: black;

#clock {
	font-size: $clock-fs;
	border: $clock-border black solid;
	border-radius: 100%;
	box-shadow: 0 0 $clock-shadow $clock-shadow-color, 0 0 $clock-shadow $clock-shadow-color inset;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#time {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}