@import 'reset';

$clock-size: 125vmin;

#clock {
	font-size: 31.25vmin;
	border: 6.875vmin black solid;
	border-radius: 100%;
	box-shadow: 0 0 8.75vmin black, 0 0 8.75vmin black inset;
	width: $clock-size;
	height: $clock-size;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	hr {
		display: none;
	}
}
#meridiem {
	font-size: 50%;
	font-weight: 400;
	margin-top: -8%;
	float: right;
}
#time {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}