a, hr {
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, hr, menu, nav, section {
  display: block; }

abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0; }

ins, mark {
  background-color: #ff9;
  color: #000; }

body {
  line-height: 1; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none; }

a {
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0; }

ins {
  text-decoration: none; }

mark {
  font-style: italic;
  font-weight: 700; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0; }

input, select {
  vertical-align: middle; }

sup {
  vertical-align: super; }

sub {
  vertical-align: sub; }

embed, img, object, video {
  max-width: 100%;
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

*, :after, :before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -o-box-sizing: inherit;
  box-sizing: inherit; }

* {
  cursor: pointer; }

html {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  line-height: 1;
  text-align: center;
  font-family: 'Rubik', sans-serif; }

#clock {
  font-size: 71.25vmin;
  border: 15.675vmin black solid;
  border-radius: 100%;
  box-shadow: 0 0 19.95vmin black, 0 0 19.95vmin black inset;
  width: 285vmin;
  height: 285vmin; }

#meridiem {
  font-size: 50%;
  font-weight: 400;
  margin-top: -8%;
  float: right; }

sup {
  font-size: 50%;
  vertical-align: super; }

html {
  background-color: #0B1828;
  color: white; }

#clock {
  font-size: 32.0055vmin;
  border: 6.25vmin white solid;
  box-shadow: 0 0 19.95vmin #1A5FB3, 0 0 19.95vmin #1A5FB3 inset;
  width: 285vmin;
  height: 285vmin;
  position: fixed;
  top: -115%;
  left: 50%;
  transform: translate(-50%, 0%); }

#time {
  width: auto;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%); }
  #time time {
    display: block; }

#date {
  font-size: 18.75vmin;
  font-weight: 500; }

#temp {
  font-size: 16.25vmin;
  font-weight: 400; }

#meridiem {
  color: #FFE649; }

#weather {
  display: block;
  margin: auto;
  width: 70%;
  margin-top: 100%; }

/*Desktop Styles

$clock-size: 90;
$clock-fs: (.25 * $clock-size)+vmin;

#clock {
	position: absolute;
	top: 5%;
	left: 5%;
	transform: none;
}*/

/*# sourceMappingURL=regular.css.map */
