body, html {
  line-height: 1; }

a, hr {
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, hr, menu, nav, section {
  display: block; }

abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0; }

ins, mark {
  background-color: #ff9;
  color: #000; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none; }

a {
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0; }

ins {
  text-decoration: none; }

mark {
  font-style: italic;
  font-weight: 700; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0; }

input, select {
  vertical-align: middle; }

sup {
  vertical-align: super; }

sub {
  vertical-align: sub; }

embed, img, object, video {
  max-width: 100%;
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  font-family: Rubik,sans-serif; }

*, :after, :before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  -o-box-sizing: inherit;
  box-sizing: inherit; }

* {
  cursor: pointer; }

body {
  max-width: 150vmin;
  margin: auto;
  background-color: #0B1828;
  color: white;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 4vmin auto 4vmin auto 4vmin;
  grid-template-rows: 25vmin auto 25vmin;
  grid-template-areas: ". . . . ." ". clock . weather ." ". . . . ."; }

sup {
  font-size: 50%; }

#clock {
  font-size: 12.5vmin;
  border-radius: 100%;
  border: 3vmin white solid;
  box-shadow: 0 0 3.5vmin 2px #1A5FB3, 0 0 3.5vmin 2px #1A5FB3 inset;
  grid-area: clock;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-template-areas: "time-box";
  position: relative;
  width: 50vmin;
  height: auto; }
  #clock:after {
    content: "";
    display: block;
    padding-bottom: 100%; }
  #clock hr {
    display: none; }

#time {
  position: absolute;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  grid-area: time-box;
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  grid-template-areas: "digits" "meridiem"; }

#digits {
  grid-area: digits;
  align-self: end;
  justify-self: center; }

#meridiem {
  color: #FFE649;
  font-size: 50%;
  font-weight: 400;
  grid-area: meridiem;
  align-self: start;
  justify-self: end;
  margin-top: -8%; }

#weather {
  font-size: 10vmin;
  grid-area: weather;
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 12.5vmin 25vmin 12.5vmin;
  grid-template-areas: "date" "icon" "temp"; }

#date {
  font-weight: 500;
  grid-area: date;
  justify-self: stretch;
  align-self: center; }

#icon {
  margin: 2.5vmin auto;
  grid-area: icon;
  justify-self: center;
  align-self: center; }
  #icon canvas {
    display: block;
    width: 20vmin;
    height: 20vmin; }

#temp {
  font-weight: inherit;
  grid-area: temp;
  justify-self: stretch;
  align-self: center; }

@media screen and (max-width: 768px) {
  body {
    max-width: none;
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    grid-template-areas: "clock" "weather"; }

  #clock {
    font-size: 20vmin;
    box-shadow: none;
    border: 0;
    align-self: stretch;
    grid-template-rows: 80% 1fr auto;
    grid-template-areas: "time-box" "." "hr";
    width: 100%; }
    #clock:after {
      display: none; }
    #clock hr {
      grid-area: hr;
      border: 2.25vmin white solid;
      box-shadow: 0 0 3.5vmin 2px #1A5FB3;
      display: block;
      margin: 0;
      padding: 0; }

  #time {
    position: static;
    transform: none;
    align-self: end;
    display: block; }

  #weather {
    font-size: 11.5vmin;
    grid-template-columns: 1fr 1fr 1fr auto 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "icon icon . date . temp temp"; }

  #icon {
    justify-self: end;
    margin: 0; }
    #icon canvas {
      width: 15vmin;
      height: 15vmin; }

  #temp {
    justify-self: start;
    color: #999999; } }
@media screen and (max-width: 510px) {
  body {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "clock" "clock" "." "weather" "weather"; }

  #clock {
    grid-template-rows: 80% auto;
    grid-template-areas: "time-box" "hr"; }

  #time {
    align-self: center;
    display: grid; }

  #meridiem {
    font-size: 45%; } }

/*# sourceMappingURL=regular.css.map */
