<article id="clock">
	<h1><time>{{time}}</time></h1>
	<abbr id="meridiem">{{meridiem}}</abbr>
</article>
<article id="weather">
	<h2><time>{{date}}</time></h2>
	<h3>{{temp}}</h3>
</article>

<script src="/javascripts/client.js"></script>