<!--<article id="clock">
	<h1><time></time></h1>
	<abbr id="meridiem"></abbr>
</article>
<article id="weather">
	<h2><time></time></h2>
	<h3></h3>
</article>-->
<h1 id="clock"><time id="time"></time></h1>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
<script src="/javascripts/client.js"></script>
